# Locality Sensitive Hashing & Hamming Distance Recommender

In this notebook I create a dummy dataset of customers who hold certain investments to try and recommend based on other similar users.

I create a dummy dataset and persist the table to a mysql database. 
I then compress what is quite a sparse matrix by concatenating and converting to bits.
I add 3 hashing functions which take a sample of 3 investments. I use this as an index lookup to sample similar customers.

Whilst no machine learning is required here (you might use the K nearest Neighbours algorithm to solve problems like this) we use a a technique worth knowing about called "Locality Sensitive Hashing".

The idea here is create a function to map similar customers close together within a bucket with the same label. To do this we make 3 functions of a sample of 3 investments to ensure that we can find customers who have at least have a few investments in common.

This exercise is based on "Introducing Data Science, Big Data, Machine Learning and more using Python by Davy Cielen Arno D. B. Meysman Mohamed Ali (2016 edition) - Wbuilding a movie recommender inside a database".

Getting MYSQL up and running...

1. Install docker ce and then pull down MySQL "docker pull mysql"

2. Check it pulled correctly by using "sudo docker image -a" to list all images you've downloaded.

3. Start the image "sudo docker run --name simple-recommender -e MYSQL_ROOT_PASSWORD=somepassword MYSQL_DATABASE=simple_recommender --publish 3306:3306 -d mysql:latest" Make sure you bind the container port to the host port or you will not be able to access from this jupyter notebook. Also make sure the mysql:"tag" is what you tagged the image as.

In [122]:
from sqlalchemy import create_engine
from sqlalchemy import Table, Column, Integer, String, MetaData, ForeignKey, VARCHAR, BLOB

from sqlalchemy import inspect
import pandas as pd

In [157]:
engine = create_engine('mysql+mysqlconnector://root:somepassword@localhost/simple_recommender')
connection = engine.connect()

## Create dataset

Here I generate 5000 customers and 32 investments so we create a matrix to whether that customer holds the investment or not. This is a quite a sparse matix!

In [25]:
nr_customers = 5000
colnames = ["ISIN%d" %i for i in range(1,33)]
pd.np.random.seed(2015)
generated_customers = pd.np.random.randint(0,2,32 * nr_customers).reshape(nr_customers,32)
data = pd.DataFrame(generated_customers, columns = list(colnames))

data.to_sql(name='cust',con=engine, index = True, if_exists =
'replace', index_label = 'cust_id')

Insert into the docker mysql database and check we wrote to db by reading again.

In [27]:
print(pd.read_sql("SELECT * FROM cust",con=connection).head())

   cust_id  ISIN1  ISIN2  ISIN3  ISIN4  ISIN5  ISIN6  ISIN7  ISIN8  ISIN9  \
0        0      0      0      0      0      1      0      1      0      0
1        1      0      0      0      1      0      1      1      1      0
2        2      0      0      0      0      0      0      1      0      0
3        3      1      1      1      1      1      0      1      1      1
4        4      1      0      1      1      0      0      1      0      1

    ...    ISIN23  ISIN24  ISIN25  ISIN26  ISIN27  ISIN28  ISIN29  ISIN30  \
0   ...         1       0       1       0       1       1       0       1
1   ...         1       1       1       0       1       1       0       1
2   ...         1       0       0       1       1       1       1       0
3   ...         1       0       1       0       1       0       1       1
4   ...         0       0       1       1       1       0       0       1

   ISIN31  ISIN32
0       1       0
1       0       0
2       1       0
3       0       0
4       0       1

[5 rows x 33 columns]

In [41]:
#THIS FUNCTION TAKES 8 1's and 0's CONCATENATES A STRING WHI TURNS THE BYTE CODE OF THE STRING INTO A NUMBER
#BIT STRING (00110001)
#8 bits make a byte
def createNum(x1,x2,x3,x4,x5,x6,x7,x8):
    return [int('%d%d%d%d%d%d%d%d' % (i1,i2,i3,i4,i5,i6,i7,i8),2)
for (i1,i2,i3,i4,i5,i6,i7,i8) in zip(x1,x2,x3,x4,x5,x6,x7,x8)]

#THE ASSERT FUNCTION CHECKS THE RESULT
#HERE WE CHECK 1111 = 15 in binary
assert int('1111',2) == 15
assert int('1100',2) == 12
assert createNum([1,1],[1,1],[1,1],[1,1],[1,1],[1,1],[1,0],[1,0]) == [255,252]

#EACH BIT STRING REPRESENTS 8 MOVIES, 8 bits makes a byte so each string of 10010011 is a byte.
#I can then convert the binary back to an number using in(x,base=2).
store = pd.DataFrame()
store['bit1'] = createNum(data.ISIN1,
data.ISIN2,data.,data.ISIN4,data.ISIN5,
data.ISIN6,data.ISIN7,data.ISIN8)
store['bit2'] = createNum(data.ISIN9,
data.ISIN10,data.ISIN11,data.ISIN12,data.ISIN13,
data.ISIN14,data.ISIN15,data.ISIN16)
store['bit3'] = createNum(data.ISIN17,
data.ISIN18,data.ISIN19,data.ISIN20,data.ISIN21,
data.ISIN22,data.ISIN23,data.ISIN24)
store['bit4'] = createNum(data.ISIN25,
data.ISIN26,data.ISIN27,data.ISIN28,data.ISIN29,
data.ISIN30,data.ISIN31,data.ISIN32)
store.head(10)

   bit1  bit2  bit3  bit4
0    10    62    42   182
1    23    28   223   180
2     2    86    46   122
3   251   204   114   172
4   178   224   140   229
5    24    97    85   252
6   189   125   147   160
7    74    32   152   144
8   147    74   196    17
9   172   208   144   164

We've compressed the initial dataframe of 32 columns into just 4.

In [140]:
#HASH FUNCTIONS TO PICK CERTAIN ISINS
#b in front of a string denotes the bytes type instead of string which is utf-8
def hash_fn(x1,x2,x3):
    return [b'%d%d%d' % (i,j,k) for (i,j,k) in zip(x1,x2,x3)]

#assert hash_fn([1,0],[1,1],[0,0]) == [b'110',b'010']

store['bucket1'] = hash_fn(data.ISIN10, data.ISIN15,data.ISIN28)
store['bucket2'] = hash_fn(data.ISIN7, data.ISIN8,data.ISIN22)
store['bucket3'] = hash_fn(data.ISIN16, data.ISIN19,data.ISIN30)

#pd.to_numeric(['bucket1'])

print(store.head())
print(store.dtypes)

dtype=BLOB(store['bucket1'].str.len().max())
#SQL ALCHEMY WILL STORE AS TEXT SO WE NEED TO MAKE SURE WHEN WRITING THE TABLE WE USE THE BLOB TYPE TO REPRESENT A BINARY OBJECT

store.to_sql('isin_comparison',connection, index=True,index_label='cust_id',
             if_exists='replace',dtype={'bucket1': VARCHAR(store['bucket1'].str.len().max()),
                                       'bucket2': VARCHAR(store['bucket2'].str.len().max()),
                                       'bucket3': VARCHAR(store['bucket3'].str.len().max())})

   bit1  bit2  bit3  bit4 bucket1 bucket2 bucket3
0    10    62    42   182  b'011'  b'100'  b'011'
1    23    28   223   180  b'001'  b'111'  b'001'
2     2    86    46   122  b'111'  b'101'  b'010'
3   251   204   114   172  b'100'  b'110'  b'011'
4   178   224   140   229  b'100'  b'101'  b'001'
bit1        int64
bit2        int64
bit3        int64
bit4        int64
bucket1    object
bucket2    object
bucket3    object
dtype: object

If doing this on a large scale we can create an index on the buckets to make lookups quicker. But first read the table and check the data types. We can't create indexes on variable length column types so we need to use a fixed length VARCHAR.

In [141]:
sql='''select * from isin_comparison'''
rs=connection.execute(sql)
meta = MetaData()
meta.bind = engine
meta.reflect()
datatable = meta.tables['isin_comparison']
[c.type for c in datatable.columns]

[BIGINT(display_width=20),
 BIGINT(display_width=20),
 BIGINT(display_width=20),
 BIGINT(display_width=20),
 BIGINT(display_width=20),
 VARCHAR(length=3),
 VARCHAR(length=3),
 VARCHAR(length=3)]

In [142]:
def createIndex(column,connection):
        sql='CREATE INDEX %s ON isin_comparison (%s);' % (column, column)
        connection.execute(sql)
    
createIndex('bucket1', connection)
createIndex('bucket2', connection)
createIndex('bucket3', connection)

Last function we need is the hamming distance which we can specify in MYSQL itself. This will compare the distance of a 32 bit integer 4*8. We compressed our 32 investments into 4 integers of 8 bits or 1 byte each.

In [143]:
#Triple quotes allows multi line
Sql = '''
CREATE FUNCTION HAMMINGDISTANCE(
A0 BIGINT, A1 BIGINT, A2 BIGINT, A3 BIGINT,
B0 BIGINT, B1 BIGINT, B2 BIGINT, B3 BIGINT
)
RETURNS INT DETERMINISTIC
RETURN
BIT_COUNT(A0 ^ B0) +
BIT_COUNT(A1 ^ B1) +
BIT_COUNT(A2 ^ B2) +
BIT_COUNT(A3 ^ B3); '''

connection.execute(Sql)

Hamming distance calculates how different two strings are by working out how many characters different they are.
We feed compare 2 customers 32 movies using a demo function below. The output of below should be 3. I.e. we only need to change 3 investments and then they'd have the same portfolios.

In [144]:
Sql = '''Select hammingdistance(
b'11111111',b'00000000',b'11011111',b'11111111'
,b'11111111',b'10001001',b'11011111',b'11111111'
)'''
pd.read_sql(Sql,connection)

   hammingdistance(\nb'11111111',b'00000000',b'11011111',b'11111111'\n,b'11111111',b'10001001',b'11011111',b'11111111'\n)
0                                                  3

We now want the functions to do two things.

1. find similar customers
2. recommend movies the customer hasn't seen based on what they've already viewed and history of similar customers.

In [146]:
customer_id = 27
sql = "select * from isin_comparison where cust_id = %s" % customer_id
cust_data = pd.read_sql(sql,connection)

cust_data.head()

   cust_id  bit1  bit2  bit3  bit4 bucket1 bucket2 bucket3
0       27    34   229    46   248     101     101     110

Two step sampling, first we take our selected customer and find those that have (or don't hold) the same 9 Investments.

Select * from isin_comparison where customer has at least 3 investments in common. Secondly rank those customers on hamming distance of all 32 movies.
We can see that customerrs 3000 and 4630 are the most similar to 27.

In [148]:
sql = '''select cust_id,hammingdistance(bit1,
bit2,bit3,bit4,%s,%s,%s,%s) as distance
from isin_comparison where bucket1 = '%s' or bucket2 ='%s'
or bucket3='%s' order by distance limit 3'''% (cust_data.bit1[0],cust_data.bit2[0],
cust_data.bit3[0], cust_data.bit4[0],
cust_data.bucket1[0], cust_data.bucket2[0],cust_data.bucket3[0])
shortlist = pd.read_sql(sql,connection)
shortlist.head()
shortlist.cust_id

0      27
1    3000
2    4630
Name: cust_id, dtype: int64

Select the customers we are interested in then transpose. We then only select rows which customer 27 hasn't seen and the other two have.

In [160]:
sql='''select * from cust where cust_id IN (%s,%s,%s)''' %(27,3000,4630)

cust = pd.read_sql(sql,connection)
dif = cust.T

#films customer 27 has seen but not 3000 or 4630
dif[dif[0] != dif[1]]

          0     1     2
cust_id  27  3000  4630
ISIN3     1     0     1
ISIN9     1     0     1
ISIN10    1     0     1
ISIN23    1     0     1
ISIN30    0     1     1

So in this example the only investment we can recommend to customer 27 is ISIN 30.

## Conclusions

1. Learnt how to spin up a MYSQL docker container
2. Use SQL alchemy and pandas to create a sparse matrix
3. Compress the matrix so that we can perform operations on the information quicker
4. How hash functions can make indexes for speedy lookups
5. Hamming distance over machine learning to find rank customers from most to least similar based on bit strings.

In reality investment recommendation is a lot more complicated it is dependent on way more factors...
* current portfolio weightings and risk diversification
* customers savings ratios
* risk appetite
* herding factors and market confidence

Platforms like eToro are good at finding similar investors to yourself and allowing you to essentially copy their strategy to achieve higher returns.

In [155]:
#CLOSE MYSQL CONNECTION
connection.close()